:root {
  --color-bg: #f9f9f9;
  --color-primary: #060606;
  --color-secondary: #000307;
  --color-white: #ffffff;
  --color-black: #111827;

  --font-main: Poppins bold, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-main);
  background: var(--color-bg);
  color: var(--color-black);
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;
}

h1, h2 {
  color: var(--color-primary);
  margin-bottom: 0.5rem;
}

p {
  color: var(--color-secondary);
  line-height: 1.5;
}
