.desktop-only {
display: none;
}
.nav-list, .social-links {
  list-style: none; /* remove bullets */
}
.social-links {
  display: flex;
  gap: 5rem;
  justify-content: center; /* center icons in a row under menu */
  margin-bottom: 2rem;
}
.social-links img {
  width: 30px;
  height: 30px;
  filter: brightness(0);   /* makes icons black */
}
.nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem;
}
.nav-list a {
  text-decoration: none; /* removes underline */
  color: black;          /* makes text black */
  font-weight: 700;      /* optional, for better readability */
}
.footer {
  display: none;
}

@media (min-width: 600px) {
  .desktop-only {
    display: flex;
}
  .mobile-only{
    display: none;
  }
  .nav {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
  }
  .nav-list, .social-links {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    list-style: none;
    margin-left: 3rem;
    padding: 0rem;  
  }
  .nav-list a {
    text-decoration: none;
    color: rgb(153, 150, 150);
    font-weight: 500;
    padding: 0rem;
  }
  .social-links img {
    width: 30px;
    height: 30px;
    filter: brightness(0) saturate(0) invert(60%);
  }
  .footer {
  display: block;
}
}
.hero {
  display: flex;
  justify-content: left;  /* center block horizontally */
  padding: 2rem;
}
.hero-content {
  display: flex;
  flex-direction: column;   /* stack text and image */
  align-items: flex-start;  /* keep everything aligned left */
  gap: 1.5rem;
}
.hero-title {
  font-size: 5rem;
}
.hero-title span {
  display: block;
  font-size: 1.2rem;
}
.highlight {
  background: linear-gradient(20deg, #08a7fc, #e904e9);
  background-clip: text;
  -webkit-background-clip: text;  /* for Safari */
  -webkit-text-fill-color: transparent;
  color: transparent; /* fallback */
  font-weight: 700;
}
.hero-image {
  width: 180px;
  height: auto;
  border-radius: 50%;
  padding: 3px; /* for ring effect */
}
@media (min-width: 600px) {
  .hero {
  display: flex;
  justify-content: left;  /* center block horizontally */
  padding: 5rem;
}
  .hero-content {
    flex-direction: row;        /* put text + image side by side */
    align-items: center;        /* vertically center */
    text-align: left;
    gap: 20rem;                  /* space between text and image */
  }
  .hero-title span {
  display: block;
  font-size: 2rem;
}
  .hero-image {
  width: 250px;
  height: auto;
  border-radius: 50%;
  padding: 3px; /* for ring effect */
}
}

